# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules
node_modules/

# Build outputs
dist/
out/
dist-ssr/

# Cache
.cache/

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env

# OS files
Thumbs.db

# Test coverage
coverage/

# Vite cache
.vite/
